/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* own css */

/* NAV AND HEADER */



body{
    /* background: url("woods.jpg"); */
    /* https://images.unsplash.com/photo-1620995186179-e7cef818a82c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80 */
    background: url("https://images.unsplash.com/photo-1620995186179-e7cef818a82c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color: antiquewhite;
    min-height: 100vh; 
    scroll-behavior: smooth;
}

@media screen and (max-width:767px){
    body{
        background: url("https://images.unsplash.com/photo-1617565482440-9dfe7ca2b1f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    }
}

header{
    color: antiquewhite;
    text-align: center;
    transition: 0.2s;
    /* z-index: 100000; */
    /* sticky navbar */
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px; */
}

header.sticky{
    padding: 5px 20px;
    background: black;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    margin-top: 0;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    /* margin-bottom: 30px;    */
    margin-top: 0;
}

.nav-ul li a{
    display: inline-block;
    color: antiquewhite;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Bellota', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.nav-ul li a:hover{
    text-decoration: none;
    background: #0e1941;
    color: #45bce5;
    border-radius: 15px;
    padding: 5px 10px;   
}

/* .nav-ul li a.active{
    text-decoration: none;
    background: #0e1941;
    color: #45bce5;
    border-radius: 15px;
    padding: 5px 10px; 
    transition: 0.4 ease;
} */

#hamburger{
    background-color: transparent;
    border: 1px solid black;
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-bottom: 10px;

}

#hamburger:focus{
    outline: none;
}


/* ---------------------------------- */

/* .ml2{
    font-family: 'Fredoka One', cursive; 
    font-size: 4rem;
} */


.ml6 {
    font-family: 'Fredoka One', cursive; 
    position: relative;
    font-weight: 900;
    font-size: 4rem;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


/* ---------------------------------- */

.firstPage{
    color: antiquewhite;
    text-align: center;
    margin-top: 250px;
    min-height: 700px;
    /*  */
    
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }


/* ABOUT SECTION */

.about{
    background: #2b2b2b;
    min-height: 1000px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.aboutmyself{
    padding-top: 7%;
    margin-top: 0;
}

.introduction{
    margin: 2rem auto;
    font-family: 'Bellota', cursive;
    font-size: 1.2rem;
    line-height: 2;
    color: antiquewhite;
    margin-bottom: 20px;
}

.social{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 50%;
    margin: auto;
    list-style: none;
    line-height: 2;
    margin-bottom: 25px;
    
}

.socialmedia{
    color: antiquewhite;
    font-size: x-large;
    transition: all 3s ease-in-out;
}


.fab:hover{
    color: #45bce5;
    
}



section div h2{
    color: antiquewhite;
    margin-bottom: 3rem;
    font-family: 'Fredoka One', cursive;
}

section div p{
    color: #7a7a7a;
    font-family: 'Bellota', cursive;
}

.propic{
    /* position: relative; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 3rem;
}

section div .aboutpar{
    padding-bottom: 4rem;
    margin-bottom: 0;
}


/* work section(refactored) starts here */

.mywork {
    /* width: 100%; */
    background: #2b2b2b;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #f6f9fc; */
    background: #212529;
    padding: 1%;
  }

  .mywork h2{
    color: antiquewhite;
    margin-bottom: 3rem;
    font-family: 'Fredoka One', cursive;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 80%;
    display: block;
  }
  
  .project {
    width: 25%; 
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px 10px; 
    padding-bottom: 20px;
    border-top: none;
    background-color: #e0fbfc;
  }
  
  .project:hover{
    box-shadow: 0 0.7em 0.5em -0.4em  #f1ff5c;
    transform: translateY(-0.5em);
  }
  
  .project p {
    line-height: 2em;
    background-color: #e0fbfc;
    margin-bottom: 5%;
    font-family: 'Bellota', cursive;
  }
  
  .project img {
    width: 100%; 
  }

  .project-title{
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 8px;
  }
  
  .project a {
    margin-bottom: 7%;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Fredoka One', cursive;
    color: #5e6472;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    margin-right: 20px;
  }

  .project a:nth-of-type(2){
      border: none;
      font-size: 30px;
  }
  
  .project a:hover {
    background-color: black;
    color: #e0fbfc;
    transition: 0.5s;
    text-decoration: none;
  }
  
  @media screen and (max-width:1199px){
    .project {
      width: 35%;
      margin: 5% 3%;
    }
  }
  
  
  @media screen and (max-width:767px){
    .project {
      width: 80%;
      margin: 5% 15%;
    }
  }


  /*  */
  /*  */
  /*  */

/* (CONTACT) SECTION */

/* .message-me{
    background: url("https://images.unsplash.com/photo-1615875623531-19c350460e08?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 950px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
} */  

.message-me{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1615875623531-19c350460e08?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    min-height: 100vh;
}

form{
    /* margin-top: 100px; */
    padding-top: 200px;
    /* border: 1px solid red;
    background: chartreuse; */
}

section div form fieldset{
    /* border: 1px solid red; */
    border-radius: 10px;
    background: #212529;
    display: flex;
    flex-direction: column;
    font-family: 'Bellota', cursive;
    
}

fieldset input{
    margin: 5px auto 10px;
    width: 40%;
    background: #eddcd2;
    border-radius: 10px;
    border: 1px solid #eddcd2;
    
}


textarea {
    background: #eddcd2;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;  
}

fieldset label{
    color:  #45bce5;
    font-family: 'Bellota', cursive;
    font-size: 1.5rem;
}

fieldset label:first-child{
    margin-top: 10px;
}

/* #0e1941;
#45bce5; */

.butForm{
    font-size: 2.5rem;
    /* border: 1px solid red; */
    border-radius: 10px;
    background: #0e1941;
    color: #eddcd2;
    font-family: 'Fredoka One', cursive;
    padding: 10px 25px;
    margin: 25px 0;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    display: inline-block;
    
    
}

.butForm:hover{
    text-decoration: none;
    color: #45bce5;
    
}

#status{
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: 'Fredoka One', cursive;
}

#status.success{
    color: #9fffcb;
    animation: status 3s ease forwards;
}

#status.error{
    color: #f73c3d;
    animation: status 3s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


/* (CONTACT) SECTION ends here*/


/* FOOTER SECTION */

footer{
    background: #212529;
    margin-top: 0;
    color: blanchedalmond;
    font-family: 'Bellota', cursive;
}

footer div ul li a i{
    margin: 50px auto;
}

.fa-chevron-circle-down{
    color: #45bce5;
    margin-bottom: 20px;
    padding-top: 25px;
    transition: 2s ease-in-out;
    
}

.fa-chevron-circle-up{
    padding-top: 0;
    color: #45bce5;
    transition: all 3s ease-in-out;
    margin-top: 15px;
}

.far{
    margin-bottom: 0;
}




@media(max-width:768px){
    /* .firstDiv {
        max-height: 580px;
    } */

    #nav-ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        
    }
    #nav-ul.show{
        display: flex;
        
    }

    .nav-ul li a{
        font-size: 1rem;
    }

    #hamburger{
        display: block;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 2s ease-in-out;
        
    }
    .img-fluid{
        max-height: 300px;
    }
    .card{
        margin: 1.5rem 2rem;
    }
    .ml6{
        font-size: 2rem; 
    }
    .social {
        margin-bottom: 5%;
    } 
    .fa-chevron-circle-down{
        display: none;

    }
    fieldset input{
        /* margin: 5px auto 10px; */
        width: 80%; 
    }
}


